body,
html {
  background: #9c6644;
  height: 100%;
}

.intro {
  margin: 30px 0px;
  font-weight: bold;
}

.row {
  text-align: center;
  font-weight: 800;
}

h1 {
  color: #fdffb6;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 15px #bdb2ff;
  font-weight: 800;
  font-family: "Fredoka One", cursive;
  letter-spacing: 5px;
}

p {
  font-weight: 600;
}

#first {
  margin-top: 10px;
  color: #bdb2ff;
  font-size: large;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}

#second {
  margin-top: 10px;
  color: #ffc6ff;
  font-size: large;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}

#third {
  margin-top: 10px;
  color: #bde0fe;
  font-size: large;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #04a1bf;
  background-color: #ffadad;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
}

#enter:hover {
  background-color: #caffbf;
  color: #fffffc;
}

input {
  border-radius: 20px;
  min-width: 70%;
  padding: 10px;
  border: none;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 15px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 20px;
  margin-bottom: 9px;
  background: #4eb9cd;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s;
}

li:hover {
  background: #76cfe0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 600;
}

.done {
  background: #87bfff !important;
  color: #2667ff;
}

.delete {
  display: none;
}
